packaging>=23.1
tqdm
numpy>=1.23.5
pandas>=1.5.3
safetensors>=0.4.2
huggingface-hub>=0.20.3
torch==2.2.1
torchaudio==2.2.1
torchvision==0.17.1
transformers>=4.38.2
wandb>=0.12.21
bitsandbytes
accelerate==0.27.2
datasets>=2.14.5
peft==0.8.2
trl
sentencepiece
gradio
appdirs
matplotlib
openai
